<h1>Listing materia</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Curso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @materia.each do |materium| %>
  <tr>
    <td><%= materium.nombre %></td>
    <td><%= materium.curso %></td>
    <td><%= link_to 'Show', materium %></td>
    <td><%= link_to 'Edit', edit_materium_path(materium) %></td>
    <td><%= link_to 'Destroy', materium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Materium', new_materium_path %>
