<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @materium.nombre %>
</p>

<p>
  <b>Curso:</b>
  <%= @materium.curso %>
</p>


<%= link_to 'Edit', edit_materium_path(@materium) %> |
<%= link_to 'Back', materia_path %>
